*.zip filter=lfs diff=lfs merge=lfs -text
searchless_chess/checkpoints/local/behavioral_cloning/200000/** filter=lfs diff=lfs merge=lfs -text
searchless_chess/checkpoints/ filter=lfs diff=lfs merge=lfs -text
searchless_chess/checkpoints/local/behavioral_cloning/800000/ filter=lfs diff=lfs merge=lfs -text
