# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

#Ignore train and test data
searchless_chess/data/train/
searchless_chess/data/test/

#Ignore checkpoints
searchless_chess/checkpoints/

#Ignore Stockfish and Fairy-Stockfish
Stockfish/
Fairy-Stockfish/

#Ignore local files
API_token.txt
figures_local/
logs_local/
scripts_local/
datasets/oracle_starting_puzzles.csv
datasets/shuffled_ood_puzzles_all_ordering.csv
datasets/shuffled_ood_puzzles_chess960.csv

