# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

#Ignore train and test data
data/train/
data/test/
!data/train/filtered_behavioral_cloning_data.bag
!data/test/filtered_behavioral_cloning_data.bag

#Ignore checkpoints
checkpoints/*
!checkpoints/download.sh
!checkpoints/9M_behavioral_cloning/
